<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Section 24-5</title>
</head>
<body>
    
    <h1>{% block title %}{% endblock title %}</h1>
    {% block logged_in %}{% endblock logged_in %}

    {% block errors %}
        {% with messages = get_flashed_messages() %}

            {% for message in messages %}
            
                <p class="alert alert-danger">{{message}}</p>
                
            {% endfor %}

        {% endwith %}
    {% endblock errors %}
    

    <div class=container>
        {% block form %}
        
        {% endblock form %}
    </div>

    <div class="container">
        {% block secret %}
        
        {% endblock secret %}
    </div>
    

</body>
</html>