{% extends "base.html.j2" %}

{% block title %}

Login

{% endblock title %}

{% block form %}
    <form action="/login" method="POST">

        {{ form.hidden_tag() }}

        {% for field in form
            if field.widget.input_type != 'hidden' %}

            <div>
                {{field.label}}
                {{field}}

                {% for error in field.errors %}
                    {{error}}
                {% endfor %}
            </div>
        
        {% endfor %}
    </form>
{% endblock form %}