{% extends "root/base.html.j2" %}

{% block title %}

    {{user.username}}

{% endblock title %}

{% block nav %}
<a href="/users/{{user.username}}/feedback/add" class="btn btn-success">Give Feedback</a>
<a href="/logout" class="btn btn-secondary" class="btn btn-secondary">Logout</a>
<a href="/users/{{user.username}}/delete" class="btn btn-danger" id="delete-account">Delete account</a>
{% endblock nav %}

{% block feedback %}

    <div class="container">

        {% for feedback in user.feedbacks %}

            <div class="container row">
                <div class="col">
                    <h3>{{feedback.title}}</h3>
                    <p>{{feedback.content}}</p>
                </div>
                <div class="col">
                    <a href="/feedback/{{feedback.id}}/update" class="btn btn-warning">Update</a>
                    <a href="/feedback/{{feedback.id}}/delete" class="btn btn-danger" id="delete-feedback">Delete</a>
                </div>
                
                <hr>

            </div>
        {% endfor %}
    </div>

{% endblock feedback %}